.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #000; */
  height: 65vh; 
  padding: 20px; 
}

.hero-image {
  max-width: 100%; 
  max-height: 50vh;
  object-fit: contain; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 1; 
  opacity: 0.4; 
}
.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh; 
  padding: 20px; 
  overflow: hidden; /* Ensure no overflow issues */
}

.hero-image {
  max-width: 100%; 
  max-height: 50vh;
  object-fit: contain; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensure the image is above the background */
  opacity: 0.8; /* Adjust opacity for better visibility */
}

.hero-content {
  position: relative;
  z-index: 2; /* Ensure content is above the background */
  text-align: center;
  color: #fff;
}


.hero-title {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 0.2em;
  animation: fadeInDown 1s ease-out;
}

.hero-subtitle {
  font-size: 1.5em;
  margin-bottom: 1em;
  animation: fadeInUp 1s ease-out;
}

.cta-button {
  padding: 10px 20px;
  background-color: #00ff00;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
  background-color: #fff;
  color: #000;
  transform: scale(1.1);
}
