/* components/MainMenu/mainMenu.css */
.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(17, 17, 17, 0.95);
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  transition: background-color 0.3s ease;
}

/* On scroll, keep the same background but make it more solid */
.main-menu.scrolled {
  background-color: rgba(17, 17, 17, 0.95); /* Dark grey background with slightly less transparency */
}

.logo-container {
  cursor:pointer;
  display: flex;
  align-items: center;
  margin-left: 20px; /* Add some left margin */
}

.logo {
  height: 40px; /* Adjust the logo size */
  margin-right: 10px; /* Spacing between logo and text */
  opacity: 1;
}

.logo-text {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Oxanium', sans-serif;
  display: flex;
  align-items: center;
}

.blinking-cursor {
  font-weight: normal;  /* Reduce boldness */
  font-size: 1em;       /* Make it smaller */
  color: #fff;
  margin-left: 5px;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from, to { color: #fff; }
  50% { color: rgba(255, 255, 255, 0.3); }
}
.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.main-menu ul li {
  margin: 0 15px;
}

.main-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  font-family: 'Oxanium', sans-serif;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s ease;
}

.main-menu ul li a:hover,
.main-menu ul li a.active {
  color: var(--accent-color);
  border-bottom: 3px solid var(--accent-color);
}

@media (max-width: 768px) {
  .main-menu {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  .main-menu ul {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .main-menu ul li {
    margin: 10px 0;
  }
}
