/* components/ScrollingText/scrollingText.css */

.terminal-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: linear-gradient(to bottom, transparent, rgba(17,17,17,0.9));
    z-index: 1000; /* Ensure it stays above other content */
}

.terminal-text {
    font-family: 'Oxanium', sans-serif;
    font-size: 1.2em;
    white-space: pre-wrap;
    transition: opacity 1s ease, color 0.3s ease;
    margin: 0;
    padding: 0;
    color: var(--text-primary);
}
  
.cursor {
    display: inline-block;
    background-color: var(--accent-color);
    width: 10px;
    height: 20px;
    margin-left: 2px;
    animation: blink 1s step-end infinite;
}
  
@keyframes blink {
    from, to { 
      background-color: var(--accent-color);
      opacity: 1;
    }
    50% { 
      background-color: var(--accent-color-transparent);
      opacity: 0.5;
    }
}